package ${package}.${moduleName}.model;

import javax.validation.constraints.NotBlank;
import com.heyu.framework.entity.DataEntity;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

public class ${className} extends DataEntity<${className}>{

	private static final long serialVersionUID = 1L;
#foreach ($column in $columns)
	/**
	 * $column.comment
	 */
	private $column.attrType $column.attrname;
#end
	
#foreach ($column in $columns)
	/**
	 * 获取：${column.comment}
	 */
	public $column.attrType get${column.attrName}() {
		return $column.attrname;
	}
	
	/**
	 * 设置：${column.comments}
	 */
	public void set${column.attrName}($column.attrType $column.attrname) {
		this.$column.attrname = $column.attrname;
	}
#end
	
}
