<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

	<div class="sidebar">
		<ul class="nav">
			<li><a href="index.html">主页面</a></li>
			<li><a href="form.html">Form库</a></li>
			<li><a href="message.html">Message库</a></li>
			<li><a href="ui.html">UI库</a></li>
			<li><a href="animate.html">Animate库</a></li>
			<li><a href="carousel.html">Carousel库</a></li>
			<li><a href="chart.html">Chart库</a></li>
			<li class="has-sub"><a href="#dashboard-menu" class="nav-header"
				data-toggle="collapse"><i class="icon-dashboard"></i>首页</a>
				<ul id="dashboard-menu" class="nav nav-list collapse ">
					<li><a href="/WirelessOrder/home.do?flag=home">报表</a></li>
					<li><a href="/WirelessOrder/home.do?flag=grzx">个人中心</a></li>
				</ul></li>
		</ul>
	</div>

</body>
</html>