<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

	<div class="sidebar" th:fragment="leftBar">
		<ul class="nav navbar-default nav-pills nav-stacked">
			<li ><a th:href="@{/userList}" >主页面</a></li>
			<li><a th:href="@{/userForm}" >Form库</a></li>
			<li><a href="#">Message库</a></li>
			<li class="has-sub"><a href="#dashboard-menu" class="nav-header"
				data-toggle="collapse"><i class="icon-dashboard"></i>首页</a>
				<ul id="dashboard-menu" class="nav nav-list collapse ">
					<li><a href="#">报表</a></li>
					<li><a href="#">个人中心</a></li>
				</ul></li>
				<li class="has-sub"><a href="#ashboard-menu" class="nav-header"
				data-toggle="collapse"><i class="icon-dashboard"></i>首页</a>
				<ul id="ashboard-menu" class="nav nav-list collapse ">
					<li><a href="#">报表</a></li>
					<li><a href="#">个人中心</a></li>
				</ul></li>
			<li class="has-sub"><a href="#shboard-menu" class="nav-header"
				data-toggle="collapse"><i class="icon-dashboard"></i>首页</a>
				<ul id="shboard-menu" class="nav nav-list collapse ">
					<li><a href="#">报表</a></li>
					<li><a href="#">个人中心</a></li>
				</ul></li>
		</ul>
	</div>

</body>
</html>